<div class="form">
  <div class="col-span-12 h-full">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="BlogForm">
          <!-- title container start -->
          <h1 class="text-lg">Title</h1>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input formControlName="title" type="text" matInput />
            <mat-error>{{ getTitleError() }}</mat-error>
          </mat-form-field>
          <!-- title container end -->

          <!-- tags container start -->
          <h1 class="text-lg">Tags</h1>
          <mat-form-field appearance="outline">
            <mat-label>Tags</mat-label>
            <input formControlName="tags" type="text" matInput />
            <mat-error>{{ getTagsError() }}</mat-error>
            <mat-hint
              >hint:you can add multiple tags by separating it by (,)
              (ex:action,movie)</mat-hint
            >
          </mat-form-field>
          <!-- tags container end -->

          <!-- description container start -->
          <div class="margin-ck">
            <h1 class="text-lg">Description</h1>
            <ckeditor
              [config]="editorConfig"
              formControlName="description"
              [editor]="Editor"
              style="color: black"
              (ready)="onReady($event)"
            ></ckeditor>
            <mat-error
              *ngIf="Description.touched && Description.hasError('required')"
              >{{ getDescriptionError() }}</mat-error
            >
          </div>
          <!-- description container end -->

          <!-- image container start -->
          <div class="w-full lg:gap-5 mt-5 flex-direction">
            <div>
              <h1 class="text-lg">Image</h1>
              <mat-hint class="text-yellow-400"
                >(*Image is required,Ignore if already added)</mat-hint
              >
            </div>

            <div class="w-full">
              <div matRipple matRippleColor="primary" class="dropzone-wrapper">
                <div class="dropzone-desc">
                  <p>Choose an image file or drag it here.</p>
                  <p>Upload your blog's image here.</p>
                </div>

                <input
                  type="file"
                  class="dropzone"
                  formControlName="image"
                  (change)="onFileChangeForImage($event)"
                  formControlName="image"
                  accept="image/png,image/jpeg,image/jpg"
                />
              </div>
              <div>
                <div>
                  <ng-container *ngFor="let url of image; index as i">
                    <p
                      alt="Img"
                      style="width: 30%; height: 30%; position: relative"
                    >
                      <img
                        [src]="url"
                        style="margin: 3px"
                        class="w-full h-full"
                      />

                      <button
                        [id]="i"
                        mat-fab
                        style="position: absolute"
                        class="top-0 left-3 cancel-button-width-height"
                        color="warn"
                        aria-label="Example icon button with a home icon"
                        (click)="deleteImageFromArray(i)"
                      >
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <mat-error
              *ngIf="imageArrayDataExist == false && Image.hasError('required')"
              >{{ getImageError() }}</mat-error
            >
          </div>
          <!-- image container end -->

          <div class="action-button">
            <button
              #submitBtn
              [disabled]="
                BlogForm.invalid ||
                imageArrayDataExist == false ||
                descriptionDataExists == false
              "
              color="primary"
              mat-raised-button
              (click)="AddUpdateBlog()"
            >
              Submit
            </button>
            <button color="accent" mat-raised-button>Reset</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
