@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form {
    @apply grid grid-cols-12 gap-5 lg:p-20 md:p-20 sm:p-10 p-5;
  }
  mat-form-field {
    width: 100%;
  }

  mat-card {
    height: 100%;
  }
}
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px !important;
  max-height: 300px !important;
}
