<!-- search bar and add blog button  -->

<div fxLayout="row" fxLayoutAlign="space-between  " class="padding-5">
  <!-- search input  -->
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Search Blogs</mat-label>
    <input matInput #searchField (keyup)="search(searchField.value)" />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <!-- add blog button  -->
  <button mat-fab color="accent" routerLink="BlogForm/add">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- blog card division -->
<div class="content">
  <!--no data found card start  -->
  <mat-card
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="dataSource.filteredData.length == 0"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>No Data Found</mat-card-title>
    </mat-card-header>
  </mat-card>
  <!--no data found card end  -->

  <!-- blog card start -->
  <div
    fxLayout="row wrap"
    fxLayoutGap="16px grid"
    style="height: auto !important"
  >
    <div
      fxFlexFill
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.md="33%"
      fxFlex.lg="25%"
      *ngFor="let card of cardObservableData | async"
    >
      <mat-card class="mat-elevation-z8" fxFlexFill>
        <mat-card-header>
          <mat-card-title>{{ card.title }}</mat-card-title>
          <mat-card-subtitle>{{ card.tags }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ card.imgSource }}"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p [innerHtml]="card.description"></p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            routerLink="BlogDetail/{{ card.id }}"
          >
            View Blog
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <!--blog card end -->
</div>

<!-- pagination -->
<div *ngIf="dataSource.filteredData.length != 0">
  <mat-paginator [pageSizeOptions]="[6, 12, 18, 96]"> </mat-paginator>
</div>
