/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  overflow-x: hidden;
  --mat-toolbar-title-text-size: auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
/* .ck-editor__editable_inline {
  min-height: 300px !important;
  border-radius: 20px !important;
}
.ck-toolbar_grouping {
  border-radius: 20px !important;
  margin-bottom: 2% !important;
} */
